body { 
    background-color: cornsilk;
    font-size: 16px;
    margin: 0;
}
.outerbox {
    display: flex;
    flex-direction: column;
}

.masthead {
    display: flex;
    justify-content: flex-end;
    margin: 5 20px;
    height: 100px;
}
#ashlogoimg {
    width: 222px;
}

.ashlogo {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 11%;
}

h1 {
    text-align: center;
}

.welcometext {
    display: flex;
    text-align: center;
    margin-right: 20%;
    margin-left: 25%;
}

.metext {
    display: flex;
    text-align: center;
    margin-right: 20%;
    margin-left: 25%;
}

.writingtext {
    display: flex;
    text-align: center;
    margin-right: 20%;
    margin-left: 25%;
}

.rabbithole {
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: space-evenly;
}

#paper {
    display: flex;
    justify-content: center;
    width: 250px
}

#memedi {
    display: flex;
    justify-content: center;
    width: 250px;
    margin-left: 42%;
}